/* Mobile
   ========================================================================== */

/* General */

:root {
  --body-font: 'Lato', sans-serif;
  --title-font: 'Poppins', sans-serif;
  --subtitle-font: 'Rajdhani', sans-serif;
  --black: #000;
  --white: #fff;
  --darkgrey: #555;
  --lightgrey: #aaa;
  --orange: #f42;
  --purple: #c09;
  --yellow: #fd3;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Typography */

body {
  font-family: var(--body-font);
  font-size: 14px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.cta a {
  font-size: 10px;
  line-height: 30px;
  color: var(--black);
}
h2 {
  font-family: var(--title-font);
  font-size: 28px;
  color: var(--orange);
}
.featured-article h2 {
  margin: 0;
}
.featured-article h2 a {
  display: inline-block;
  font-size: 20px;
  line-height: 1.1;
  color: var(--white);
}
.featured-article h3 {
  margin: 0;
}
.featured-article h3 a {
  font-family: var(--subtitle-font);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
}
.featured-article span,
.featured-article span a {
  font-size: 12px;
  color: rgba(255,255,255,.6);
}
.story-container .title a {
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
}
.story-container .byline,
.story-container .byline a {
  font-size: 12px;
  color: var(--lightgrey);
}

/* Header */

body > header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--white);
}
.header-container {
  display: flex;
}
.header-container h1 {
  width: 106px;
  height: 48px;
  margin: 0;
  background: linear-gradient(to bottom right,var(--purple),var(--orange) 85%);
}
.nav-tablet {
  display: none;
}
.cta {
  background-color: var(--yellow);
}

/* Featured articles */

.featured-articles {
  margin-top: 82px;
}
.featured-articles header {
  display: none;
}
.featured-article {
  min-height: 30vh;
  background-color: var(--black);
}

/* Latest news */

.news {
  display: flex;
}

/* Latest funding */

.funding-container article:last-of-type {
  display: none;
}
.funding {
  min-height: 60px;
}

/* Tablet
   ========================================================================== */

@media screen and (min-width: 768px) {

  /* Header */

  .header-container h1 {
    height: 80px;
  }
  .nav-tablet {
    display: block;
  }
  .nav-mobile {
    display: none;
  }
  .cta {
    font-size: 13px;
  }

  /* Featured articles */

  .featured-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 60vh;
    margin-top: 114px;
  }
  .featured-articles article:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  .featured-article {
    min-height: none;
  }

  /* Latest news */

  .latest-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .latest-news h2 {
    grid-column: 1 / -1;
  }

  /* Latest funding */

  .funding-container {
    display: flex;
  }
  .funding {
    flex: 1;
  }

  /* Other news */

  .other-news-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Latest deals */

  .latest-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .latest-deals h2 {
    grid-column: 1 / -1;
  }
}

/* Desktop
   ========================================================================== */

@media screen and (min-width: 1024px) {

  /* Header */

  .header-container h1 {
    display: none;
  }

  /* Featured articles */

  .featured-articles header {
    display: block;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  /* Other articles */

  .other-articles-container {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Latest news */

  .latest-news {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Latest funding */

  .funding-container article:last-of-type {
    display: block;
  }

  /* Other news */

  .other-news-container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Latest deals */

  .latest-deals {
    grid-template-columns: repeat(4, 1fr);
  }
}